.container {
    background-image: url('img/breakburger.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    background-size: 20%;
    /*

    
    */
}

#boton {
    background-color: rgb(252, 252, 0);
    border-color: rgb(10, 88, 255);
    border-radius: 50px;
    font-size: 25px;
}

.card-body {
    background-color: aqua;
}

.card {
    border-color: lime;
}

.card-text {
    color: tomato;
}

#jere {
    color: rgb(241, 191, 81);
    font-size: 50px;
    text-align: center;
}

#marcos {
    color: red;
    font-size: 25px;
}



.boton_general button {
    background-color: blueviolet;
}


#a {
    font-size: 10px;
}

#b {
    font-size: 20px;
}

#c,
#d {
    font-size: 50px;
}