/*Variables globales*/
:root {
    --clr-primary: #e78c2f;
    --clr-secondary: #049c7b;
    --clr-bg: #ffffff;
    --clr-text-dark: #262626;
    --clr-text-light: #545454;
}

/*cambiamos el espacio que hay entre los menus del navbar*/
.navbar {
    --bs-navbar-nav-link-padding-x: 1rem;
}

/*sacamos el border que le da al presionar el icono de menu del resposivo*/
.navbar-toggler {
    border: none !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

/*Le damos unos stylos al fondo de la sesion container*/
.container-main {
    background-image: url('img/violet.jpg');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    /*background-size: contain;*/
    background-size: 100% 100%;
}



#menu_login {
    /*--bs-dropdown-zindex: 985;*/
    --bs-dropdown-min-width: 20rem;
    --bs-dropdown-spacer: 0.46rem;
    --bs-dropdown-border-radius: none;
    text-align: center;
}

#Login {
    position: relative;
    height: 100%;
    overflow: hidden;
    left: 686px;
}

.dropdown-menu[data-bs-popper] {
    left: -170px;
}

/*
#login {
    left: 686px;
}*/