/*Variables globales*/
:root {
    --clr-primary: #e78c2f;
    --clr-secondary: #049c7b;
    --clr-bg: #ffffff;
    --clr-text-dark: #262626;
    --clr-text-light: #545454;
    --clr-background-navbar: #814fd3;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 17px;
    font-size: 15px;
}

/*Tipografia del NavBar*/
nav {
    font-family: 'Courier New', Courier, monospace;
}

/*Cambiamos el espacio que hay entre los menus del navbar*/
.navbar {
    --bs-navbar-nav-link-padding-x: 1rem;
    background-color: #331db9
        /*var(--clr-background-navbar);*/
}

/*Sacamos el border que le da al presionar el icono de menu del resposivo*/
.navbar-toggler {
    border: none !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

/*Sub menu de la parte Proyectos*/
.dropdown-menu[data-bs-popper] {
    top: 112%;
}

.container-main {
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
    width: 100%;
}

.snap-section-1 {
    background-image: url('img/fondo_blue.jpg');
    color: #f5f5f5;
    width: 100%;
    height: inherit;
    background-repeat: no-repeat;
    background-position: center center;
    /*background-size: contain;*/
    background-size: 100% 100%;
    scroll-snap-align: start;
    min-height: 50vh;
}

.content {
    width: 237px;
    font-size: 36px;
    line-height: 40px;
    font-family: 'Muli';
    color: #ecf0f1;
    height: 40px;
    position: relative;
    top: 40%;
    left: 50%;
    margin-top: -15px;
    margin-left: -118px;
}

.content:before {
    content: '[';
    position: absolute;
    left: -30px;
    line-height: 40px;
}

.content:after {
    content: ']';
    position: absolute;
    right: -30px;
    line-height: 40px;
}

.content:after,
.content:before {
    color: #16a085;
    font-size: 42px;
    animation: 2s linear 0s normal none infinite opacity;
    -webkit-animation: 2s ease-out 0s normal none infinite opacity;
    -moz-animation: 2s ease-out 0s normal none infinite opacity;
    -o-animation: 2s ease-out 0s normal none infinite opacity;
}

.visible {
    float: left;
    font-weight: 600;
    overflow: hidden;
    height: 40px;
}

.visible p {
    display: inline;
    float: left;
    margin: 0;
}

.visible ul {
    margin-top: 0;
    padding-left: 110px;
    text-align: left;
    list-style: none;
    animation: 6s linear 0s normal none infinite change;
    -webkit-animation: 6s linear 0s normal none infinite change;
    -moz-animation: 6s linear 0s normal none infinite change;
    -o-animation: 6s linear 0s normal none infinite change;
}

.visible ul li {
    line-height: 40px;
    margin: 0;
}

@-webkit-keyframes opacity {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes change {
    0% {
        margin-top: 0;
    }

    15% {
        margin-top: 0;
    }

    25% {
        margin-top: -40px;
    }

    40% {
        margin-top: -40px;
    }

    50% {
        margin-top: -80px;
    }

    65% {
        margin-top: -80px;
    }

    75% {
        margin-top: -40px;
    }

    85% {
        margin-top: -40px;
    }

    100% {
        margin-top: 0;
    }
}

@keyframes change {
    0% {
        margin-top: 0;
    }

    15% {
        margin-top: 0;
    }

    25% {
        margin-top: -40px;
    }

    40% {
        margin-top: -40px;
    }

    50% {
        margin-top: -80px;
    }

    65% {
        margin-top: -80px;
    }

    75% {
        margin-top: -40px;
    }

    85% {
        margin-top: -40px;
    }

    100% {
        margin-top: 0;
    }
}


.snap-section-2 {
    scroll-snap-align: start;
    min-height: 100vh;
    background-color: #ffffff;
    padding-bottom: 0px !important;
    padding: 90px 0;
}

.content-info {
    text-align: center;
    /*width: 1088px;*/
    /*en pantalla grande*/
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*responsivo*/

@media (min-width: 320px) {
    .content-info {
        width: 320px;
    }
}

@media (min-width: 480px) {
    .content-info {
        width: 480px;
    }
}

@media (min-width: 768px) {
    .content-info {
        width: 768px;
    }
}

@media (min-width: 1024px) {
    .content-info {
        width: 1024px;
    }
}

@media (min-width: 1200px) {
    .content-info {
        width: 1200px;
    }
}

#span-1 {
    position: relative;
    display: block;
    font-family: unset;
    /*font-size: 2vw;*/
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    letter-spacing: 2px !important;

    line-height: 45px;
}

@media (min-width: 320px) {
    #span-1 {
        font-size: 3vw;
        width: 94%;
        line-height: 25px;
    }
}

@media (min-width: 480px) {
    #span-1 {
        font-size: 2vw;
        width: 93%;
    }
}

@media (min-width: 620px) {
    #span-1 {
        font-size: 2vw;
        width: 93%;
    }
}

@media (min-width: 768px) {
    #span-1 {
        font-size: 2vw;
        width: 57%;
    }
}

@media (min-width: 1024px) {
    #span-1 {
        font-size: 2vw;
        width: 47%;
    }
}

@media (min-width: 1200px) {
    #span-1 {
        font-size: 2vw;
        width: 40%;
    }
}

#span-1 h2 {
    font-weight: 700;
    line-height: 40px;
    font-size: 4vh;
    letter-spacing: normal;
    text-transform: uppercase;
}