$primary: #0074d9;
$secondary: #6f42c1;
$success: #6610f2;
$info: #e512ec;
$warning: #155de2;
$danger: #ff4136;
/*danger = peligro*/
$light: #eede03;
$dark: #070707;

$theme-colors: (
    "primary": $primary,
    "secondary": $indigo,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
);



@import "../node_modules/bootstrap/scss/bootstrap";